.scene {
  position: fixed;
  top: 0px;
  left: 0;
  width: 1920px;
  height: 1080px;
  min-height: 25rem;
  overflow: hidden;
  background: #000;
}

.scene .container {
  position: ;
  z-index: 2;
}

.scene--video {
  position: absolute;
  width: 1920px;
  height: 1080px;
  z-index: 100;
  top: 0;
  left: 0;
}

.scene--image {
  img {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.scene .scene--content__timer5min {
  position: absolute;
  top: 410px;
  left: 280px;
/*  background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1;
  /*width: 100%;*/
  padding: 0px;
  /*border: 3px solid #73AD21;*/
  z-index: 3;
}

.scene .scene--content__timer10min {
  position: absolute;
  top: 640px;
  left: 1200px;
  color: #f1f1f1;
  padding: 0px;
  z-index: 3;
}

.scene .scene--content__startingText {
  position: absolute;
  top: 850px;
  left: 800px;
  color: #fff;
  padding: 0px;
  z-index: 3;
}

.scene .scene--content__defaultText {
    position: absolute;
    top: 820px;
    left: 690px;
    color: #fff;
    padding: 0px;
    z-index: 3;
    font-weight: bold;
}
    
#showMe {
    opacity: 0;
    -moz-animation: cssAnimation 3s;
    /* Firefox */
    -webkit-animation: cssAnimation 3s;
    /* Safari and Chrome */
    -o-animation: cssAnimation 3s;
    /* Opera */
    animation: cssAnimation 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes cssAnimation {
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hide{
	display:none;
}
.show{
	display:block;

}

